<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Personalized Meal Selection </h2>
        <p>Choose your dinner from a daily menu of family-uploaded dishes. Select your preferred meal and let your choices be known effortlessly.</p>
    </div>

    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Family Favorite Tracker <small class="d-none">🚀</small></h2>
        <p>Keep track of your family's favorite meals and ensure everyone looks forward to meal times with our easy rating system.</p>
    </div>

    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        {{/*  <h2 class="h2">Dietary Filters for Everyone <small class="d-none">📈</small></h2>
        <p>Navigate easily through meal options with customizable filters for all <a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eating-a-balanced-diet/#:~:text=eat%20at%20least%205%20portions,eggs%2C%20meat%20and%20other%20protein" 
            target="_blank" rel="noopener">dietary needs</a>.</p>  */}}
            <h2 class="h2">Interactive Recipe Sharing <small class="d-none">✨</small></h2>
            <p>Share your culinary creations and explore recipes uploaded by family members, complete with photos and detailed instructions.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Efficient Grocery Planning <small class="d-none">🦉</small></h2>
        <p>Create a grocery list from your weekly meal plan with one click, save time and reduce food waste.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Dietary Filters for Everyone <small class="d-none">📈</small></h2>
        <p>Navigate easily through meal options with customizable filters for all <a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eating-a-balanced-diet/#:~:text=eat%20at%20least%205%20portions,eggs%2C%20meat%20and%20other%20protein" 
            target="_blank" rel="noopener">dietary needs</a>.</p>
        {{/*  <h2 class="h2">Interactive Recipe Sharing <small class="d-none">✨</small></h2>
        <p>Share your culinary creations and explore recipes uploaded by family members, complete with photos and detailed instructions..</p>  */}}
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Nutritional Insights <small class="d-none">🧰</small></h2>
        <p>Access detailed nutritional information for each dish, making it easier to balance deliciousness with nutrition.</p>
    </div>
</div>